.DataBaseCheck {
  @apply px-[35px] md:px-[50px] lg:px-[40px] pt-[84px] md:pt-[57px] lg:pt-[62px] pb-[32px] md:pb-[57px] lg:pb-[62px] bg-[url('Images/bannerBg.png')];
  background-size: cover;
}
.data_base_row {
  @apply bg-[#C4C4C4] bg-opacity-[.1] rounded-[20px] px-[13px] md:px-[61px] lg:px-[70px] pb-[32px] md:pb-[35px] lg:pb-[31px];
}
.dataBaseHeadingtext {
  @apply font-montstarate font-bold text-[10px] md:text-[20px] lg:text-[24px] text-[#FFFFFF];
}
.input_section button {
  @apply mb-[48px] md:mb-[50px] lg:mb-[35px] px-[51px] py-[16px] md:px-[52px] md:py-[20px] lg:px-[46px] lg:py-[20px] bg-[rgba(196,196,196,0.1)] rounded-[20px] font-montstarate font-bold text-[14px] md:text-[20px] lg:text-[24px] text-white;
  border: solid 2px #c4c4c436;
}
.input_section button:hover {
  @apply text-Brand_color;
  border: solid 2px #17c2ec;
}
.input_section {
  @apply mt-[20px] md:mt-[40px] lg:mt-[71px] flex flex-wrap gap-[20px];
}
.input_section input {
  @apply lg:mb-[35px] w-[280px] md:w-[447px] lg:w-[450px] outline-none font-montstarate font-medium text-[12px] md:text-[20px] lg:text-[24px] text-white rounded-[20px] bg-transparent p-3;
  border: solid 2px rgba(196, 196, 196, 0.212);
}
.input_section input:hover {
  border: solid 2px #17c2ec;
}
.certificate_text {
  @apply px-[13px] md:px-[38px] md:py-[14px] py-[12px] lg:px-[176px] lg:py-[20px] bg-[#C4C4C4] bg-opacity-[.1] rounded-[20px];
}
.certificate_text h3 {
  @apply font-montstarate text-center font-bold text-[10px] md:text-[14px] lg:text-[24px] text-[#17C2EC];
}
.get_vaccinated_Row{
  @apply pt-[58px] pb-[80px] mb-[40px]
}
.Get_vaccinated_text_row{
  @apply flex flex-wrap justify-between items-start
}
.get_vaccinated_card_row{
  @apply flex flex-wrap gap-[30px] justify-between items-end mt-[40px] md:mt-[50px] lg:mt-[40px]
}
.immune{
  @apply w-[276px] md:w-[449px] pt-[20px] md:pt-[39px] pl-[20px] md:pl-[39px] pb-[30px] md:pb-[77px] rounded-b-[50px] rounded-tl-[50px] rounded-tr-[150px] bg-[rgba(196,196,196,0.16)] 
}
.immune h3{
  @apply w-[172px] md:w-[288px] mt-[20px] md:mt-[39px] mb-[20px] md:mb-[29px] font-montstarate font-bold text-[14px] md:text-[23px] text-Brand_color
}
.immune p{
  @apply w-[235px] md:w-[352px] font-montstarate font-medium text-[12px] md:text-[17px] text-white

}
.immune a{
  @apply mt-[30px] md:mt-[40px] font-montstarate font-bold text-[12px] md:text-[17px] text-Brand_color inline-block
}
.spread_virus{
  @apply w-[180px] md:w-[296px] lg:w-[349px] h-[200px] md:h-[290px] lg:h-[349px] rounded-[50px] pt-[20px] md:pt-[39px] pl-[20px] md:pl-[39px] pb-[23px] md:pb-[31px] lg:pb-[58px];
  border: solid 2px #FFFFFF;
}
.spread_virus h3{
  @apply w-[156px] md:w-[256px] font-montstarate font-bold text-[14px] md:text-[23px] text-[#FFFFFF] mt-[20px] md:mt-[39px] mb-[20px] lg:mb-[52px]
}
.spread_virus a{
  @apply font-montstarate font-bold text-[14px] md:text-[17px] text-Brand_color inline-block 

}
.protect{
  @apply w-[180px] md:w-[296px] lg:w-[349px] h-[200px] md:h-[290px] lg:h-[349px] rounded-[50px] pt-[20px] md:pt-[39px] pl-[20px] md:pl-[39px] pb-[23px] md:pb-[31px] lg:pb-[58px];
  border: solid 2px #FFFFFF;
}
.protect h3{
  @apply w-[156px] md:w-[256px] font-montstarate font-bold text-[14px] md:text-[23px] text-[#FFFFFF] mt-[20px] md:mt-[39px] mb-[20px] md:mb-[55px] lg:mb-[83px]
}
.protect a{
  @apply font-montstarate font-bold text-[14px] md:text-[17px] text-Brand_color inline-block 

}